@if (loading()) {
  <div>Loading repository details...</div>
}
@if (error()) {
  <div class="error">{{ error() }}</div>
}
@if (showRepositoryDetails()) {
  <lx-card>
    <div class="list-view">
      <div class="back-button" (click)="goBack()" aria-label="Back button">
        <img src="/assets/icons/back.png" alt="Back" />
      </div>
      <h3>{{ repository().owner.login }}/{{ repository().name }}</h3>
      <div class="chip">Issues</div>
      <table class="table">
        @for (issue of issues(); track issue.node.title) {
          <tr>
            <td>
              <img
                class="issue-icon"
                src="/assets/icons/issue.svg"
                alt="Issue Icon"
              />
            </td>
            <td>
              <a [href]="issue.node.url" target="_blank">{{
                issue.node.title
              }}</a>
            </td>
            <td>
              <span>
                <strong>
                  {{ issue.node.createdAt | date: "dd MMM YYYY HH:mm:ss" }}
                </strong>
              </span>
            </td>
          </tr>
        }
      </table>
      <lx-pagination
        [pageInfo]="pageInfo()"
        (nextPage)="fetchNextPage($event)"
        (previousPage)="fetchPreviousPage($event)"
      />
    </div>
  </lx-card>
}
