@if (loading) {
  <div>Loading repository details...</div>
}
@if (error) {
  <div class="error">{{ error }}</div>
}
@if (!loading && !error && repository) {
  <lx-card>
    <div class="list-view">
      <h1>{{ repository.owner.login }}/{{ repository.name }}</h1>
      <h3>Issues</h3>
      <table class="table">
        @for (issueEdge of issues; track issueEdge.node.title) {
          <tr>
            <td>
              <img
                class="issue-icon"
                src="/assets/icons/issue.svg"
                alt="Issue Icon"
              />
            </td>
            <td>
              <a [href]="issueEdge.node.url" target="_blank">{{
                issueEdge.node.title
              }}</a>
            </td>
            <td>
              <span>{{ issueEdge.node.createdAt | date }}</span>
            </td>
          </tr>
        }
      </table>
      <lx-pagination
        [pageInfo]="pageInfo"
        (nextPage)="fetchNextPage($event)"
        (previousPage)="fetchPreviousPage($event)"
      />
    </div>
  </lx-card>
}
