@if (loading()) {
  <div>Loading repositories...</div>
}
@if (error()) {
  <div class="error">{{ error() }}</div>
}
@if (!loading() && !error()) {
  <lx-card>
    <h3 class="list-view-heading">Top GitHub Repositories</h3>
    <div class="list-view">
      <table class="table">
        @for (repository of repositories; track repository.node.name) {
          <tr class="row">
            <td class="repo-info">
              <a
                class="repo-link"
                [routerLink]="[
                  '/repositories',
                  repository.node.owner.login,
                  repository.node.name,
                ]"
              >
                <strong>{{ repository.node.nameWithOwner }}</strong>
              </a>
              <div class="description">
                {{ repository.node.description }}
              </div>
              <div class="time">
                {{ repository.node.createdAt }}
              </div>
            </td>
            <td class="star-column">
              <img
                class="star-icon"
                src="/assets/icons/star.png"
                alt="Star Icon"
              />
              <span class="star-count">
                <strong>{{ repository.node.stargazerCount | numbers }}</strong>
              </span>
            </td>
          </tr>
        }
      </table>
      <lx-pagination
        [pageInfo]="pageInfo"
        (nextPage)="fetchNextPage($event)"
        (previousPage)="fetchPreviousPage($event)"
      />
    </div>
  </lx-card>
}
